html{
  background-color: #0f171e;
  color: #fff;
  font-size: 14px;
}

.text-link{
  text-decoration: none;
  transition: .2s ease;
  color: #fff;
}

.text-link-special{
  transition: .2s ease;
  color: rgb(153, 173, 255);
}

.text-link-special-class{
  transition: .2s ease;
  color: rgb(93, 255, 136);
  text-decoration: none;
}

.text-link-special-class-danger{
  transition: .2s ease;
  color: rgb(245, 124, 0);
}

.text-footer{
  transition: .2s ease;
  color: white;
}

.text-link:hover, .logo:hover, .text-link-special:hover, .text-link-special-class:hover, .text-footer:hover{
  opacity: .6;
  cursor: pointer;
}

.logo{
  transition: .2s ease;
  width: 100%;
}

.logo-middle{
  vertical-align: middle;
}

.header, .footer{
  background-color: #fff;
}

.button-primary-hover:hover{
  background: #4b8abd !important;
  color: #fff !important;
}

.button-secondary-hover:hover{
  background: #78909C !important;
  color: #fff !important;
}

.p-datatable{
  min-width: 350px;
}

.button-demo .template .p-button.discord {
  background: linear-gradient(to left, var(--bluegray-700) 50%, var(--bluegray-800) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.35s ease-in;
  color: #fff;
  text-decoration: none;
  border-color: var(--bluegray-800);
}
.button-demo .template .p-button.discord:hover {
  background-position: left bottom;
}
.button-demo .template .p-button.discord:focus {
  box-shadow: 0 0 0 1px var(--bluegray-500);
}